//大屏导航
body{
  background-color:#f0f4f3;
  overflow: auto;
}
a:hover{
    color:#333;
    text-decoration:none;
}
@mixin border{
  width:100%;
  border:1px solid #b5b5b5;
  border-radius:4px;
}
@mixin font{
  color:#444;
  letter-spacing:2px;
  font:{
    font-family:'宋体';
    size:12px;
  }
}
@mixin title{
  width:100%;
  .head{
    width:100%;
    margin:0 auto;
    margin-top:82px;
    text-align: center;
    img{
      width:150px;
    }
  }
}
//关于我们
.about{
  @include title;
}
.about{
  .container{
    .row{
      .about-list{
        margin-top:40px;
        text-align: center;
        .about-bg{
          width:480px;
          height:340px;
          margin:0 auto;
          margin-top:40px;
          background-image:url("../../image/Yy-image/index_11.png");
          background-size:100% 100%;
          background-position:center;
          background-repeat:no-repeat;
          text-align: center;
          transition:transform 0.4s;
          img{
            width:420px;
            margin-top:30px;
          }
        }
        .about-text{
          margin-top:20px;
          p{
            @include font;
            margin:0;
          }
          span{
            @include font;
            line-height:0;
            font-size:20px;
          }
        }
      }
    }
  }
}
.about .container .row .about-list .about-bg:hover{
  transform:translateY(-4px);
  box-shadow:0 6px 20px rgba(0,0,0,0.04);
}

//茶馆环境
@mixin line{
  width:36%;
  height:4px;
  margin:0 auto;
  margin-top:24px;
  display: flex;
  justify-content: space-between;
  li{
    width:25%;
    height:2px;
    border-radius:2px;
    background-color:#bfbfbf;
  }
}
.around{
  @include title;
  .contain{
    width:1170px;
    margin:0 auto;
    margin-top:80px;
    position: relative;
    .ar-row{
      width:1170px;
//    height:462px;
      margin:0 auto;
      position:relative;
//    .col{
//      width:48%;
//      height:auto;
//      text-align: center;
//      overflow: hidden;
//      img{
//        width:470px;
//      }
//    }
//    .col-mid{
//      position:absolute;
//      top:-36px;
//      left:50%;
//      margin-left:-231px;
//    }
    }
//  .a-left,.a-right{
//      position:absolute;
//      width:60px;
//      height:60px;
//      top:30%;
//      font-size:60px;
//      font-family:'宋体';
//      color:#fff;
//      font-weight:bold;
//      z-index:20;
//  }
//  .a-left{
//      left:120px;
//  }
//  .a-right{
//      right:100px;
//  }
  }
}
//.around .contain .ar-row .lef{
//float:left;
//text-align: center;
//img{
//  float:right;
//}
//}
//.around .contain .ar-row .righ{
//float:right;
//text-align: center;
//img{
//  float:left;
//}
//}
.around .text{
  width:450px;
  margin:0 auto;
  text-align: center;
  p{
    @include font;
  }
  ul{
    @include line;
  }
}
.swiper-container {
    overflow:hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide{
    width:40%;
    height:auto;
    overflow:hidden;
}
.swiper-slide > img{
    width:100%;
    /*height:100%;*/
}
.swiper-slide.swiper-slide-active{
    transform:scale(1.15) !important;
    z-index:100 !important;

}
//我们产品
.pro{
  @include title;
  .container{
    margin-top:40px;
    .ar-row{
      width:100%;
      .col{
        float: left;
        width:27%;
        text-align: center;
        margin-top:4%;
        img{
          width:100%;
        }
        p{
          @include font;
          margin-top:10px;
        }
      }
      .col-mid{
        float: left;
        width:46%;
        text-align: center;
        img{
          width:80%;
        }
        p{
          @include font;
          margin-top:10px;
        }
      }
    }
  }
}
.pro .more{
  width:100%;
  text-align: center;
  img{
    width:300px;
    margin-top:20px;
  }
}
.add{
  width:100%;
  img{
    width:100%;
  }
}
//新闻
.news{
  @include title;
  .context{
    margin-top:20px;
    .n-list{
      margin-top:20px;
      h6 img{
        width:24px;
      }
      h6 p{
        display: inline-block;
        margin-left:10px;
        font-size:16px;
        color:#333;

      }
      .content{
        padding-left:7%;
        box-sizing: border-box;
        .left{
          float:left;
          width:36%;
          img{
            width:180px;
          }
        }
        .righ{
          float:left;
          width:64%;
          p{
            font-size:12px;
            color:#444;
          }
          .mor{
            float:left;
            width:18px;
            height:18px;
            background-color:rgba(0,0,0,0.3);
            text-align: center;
            line-height:14px;
            font-size:16px;
            color:#fff;
            border-radius:50%;
            margin-top:20px;
          }
          span{
            line-height:60px;
            margin-left:10px;
          }
        }
      }
    }
  }
}
.news .more{
  width:100%;
  text-align: center;
  img{
    width:300px;
    margin-top:40px;
  }
}
//百科茶叶
.tea{
@include title;
.line{
    width:450px;
    margin:0 auto;
    ul{
      @include line;
    }
}
.tea-contain .t-row{
    width:90%;
    margin:0 auto;
    
}
.tea-list{
    width:420px;
    margin:0 auto;
    margin-top:28px;
    display:flex;
    justify-content:space-around;
    li{
      font-size:16px;
      color:#585757;
      font-weight:500;
    }
    .active{
      text-decoration: underline;
    }
}
.tea-contain{
    margin-top:20px;
    overflow: hidden;
    .tea-col{
        float:left;
        box-sizing: border-box;
        width:33.33333%;
        height:260px;
        margin:0 auto;
        z-index:10;
        transition:all 0.2s linear;
        .con{
            width:90%;
//          margin:0 auto;
            margin-left:15%;
            .title{
                margin-top:20px;
                h6{
                  display: inline-block;
                  font-size:14px;
                  margin-left:8px;
                  font-weight:normal;
                }
                p{
                  margin-top:8px;
                  width:80%;
                  line-height:20px;
                  font-size:12px;
                  color:#2f2f2f;
                }
            }  
      }
    }
  }
}
.tea .more{
    width:100%;
    text-align: center;
        img{
            width:300px;
            margin-top:20px;
        }
}
.tea .tea-contain .t-row a{
    color:#333;
}
//联系我们
.contact{
    @include title;
    .text{
        margin-top:20px;
        color:#818181;
        font-size:12px;
        text-align: center;
        padding:0 10px;
    }
    .area{
        width:90%;
        margin:0 auto;
        .con-lef{
            input{
                height:48px;
                @include border;
                background-color: #f0f4f3;
                margin-top:20px;  
                text-indent:10px;
                color:#c5c5c5;  
                outline:none;  
                   
            }
        }
        .con-rig{
            textarea{
                height:184px;
                @include border;
                background-color: #f0f4f3;
                margin-top:20px;
                outline:none;
                resize:none;
            }
        }
    }
    div.bttn{
    width:80%;
    height:42px;
    margin:0 auto;
    margin-top:20px;
        button{
            background-color:#F0F4F3;
            @include border;
            width:80px;
            height:42px;
            font-size:14px;
            color:#333;
            float:right;
        }
        button.null{
            margin-right:5%;
        }
    }
}
//底部开始
footer{
    margin-top:40px;
    width: 100%;
    height: auto;
    background-color: #222; 
    @media (min-width: 768px) {
        .sxy-footlist{
            padding-top: 70px;
        }
        .sxy-infor >.sxy-ma{
            width: 95px;
            height: 95px;
            padding-top: 75px;
        }
        .sxy-row2{
            padding: 50px 0;
        }
    }
    @media (max-width: 768px){
        .sxy-footlist>li{
            display: none;
        }
        .sxy-footlist>.sxy-line{
            display: none;
        }
        .sxy-row2>div{
            font-size: 12px;
        }
        .sxy-footlist p> a{
            font-size: 20px;
        }
    }
}
.sxy-foot{
    background-color: #222;
    .sxy-infor{
        display: flex;
        justify-content: space-between;
    }
    a{
        color: #fff;
    }
}
.sxy-footlist{
    padding-top: 30px;
    width: 20%;
    height: auto;
    display: flex;
    justify-content: space-between;
    .sxy-line{
        width: 1px;
        height: 95px;
        background-color: #f2f2f2;
        display: inline-block;
        margin-top: 5px;
    }
    li> a{
        font-size: 18px;
        width: 18px;
        display: inline-block;
    }
}
.sxy-footlist p> a{
    font-size: 24px;
    width: 24px;
    margin-top: -3px;
    display: inline-block;
}
.sxy-infor >.sxy-ma{
    width: 95px;
    height: 95px;
    padding-top: 36px;
}
.sxy-infor >.sxy-ma > img{
    width: 95px;
}
.sxy-row2{
    padding: 30px 0;
    text-align: center;
    div{
        color: #fff;
        font-size: 18px;
    }
}

//底部结束

@media screen and (min-width:1200px){
    .tea .tea-contain .t-row .t-active{
        background-image:url(../../image/Yy-image/bg.png);
        width:33.33333%;
        height:260px;
        z-index:30;
        background-position:0 -12px;
        background-size:100%;
        background-repeat:no-repeat;
    }
    .swiper-container {
        width:84%;
    } 
    .swiper-container .swiper-slide{
        width:30%;
    }  
}
@media screen and (min-width:992px) and (max-width:1200px){
  .about .container .row .about-list .about-bg {
    width: 420px;
    height:310px;
    img{
      margin-top:36px;
      width:360px;
    }
  }
  .around .contain{
    width:970px;
    .ar-row{
      width:970px;
    }
  }
  .news .context .n-list .content .left{
    width:40%;
    img{
      width:160px;
    }
  }
  .news .context .n-list .content .righ{
    width:60%;
  }
}
@media screen and (min-width:768px) and (max-width:992px){
  .about .container{
    width:100%;
  }
  .pro .container{
    width:100%;
  }
  .about .container .row .about-list .about-bg {
    width:368px;
    height:268px;
    transition:all 0.2s;
    img{
      width:320px;
      margin-top:28px;
    }
  }
  .around .contain{
    width:100%;
    .ar-row{
      width:100%;
    }
  }
}
@media screen and (max-width:768px){
  .banner{
    height:420px;
  }
  .about .container .row .about-list .about-bg{
      width:320px;
      height:230px;
      margin:0 auto;
      img{
        width:280px;
        margin-top:20px;
      }
  }
  .about .container .row .about-list{
    margin-top:20px;
  }
  .around .contain{
    width:100%;
    .ar-row{
      width:100%;
//    height:240px;
//    .col{
//      width:48%;
//      img{
//        width:100%;
//      }
//    }
//    .col-mid{
//      width:56%;
//      text-align: center;
//      margin-left:-28%;
//      top:-10%;
//    }
//  }
//  .a-left,.a-right{
//      position:absolute;
//      width:60px;
//      height:60px;
//      top:14%;
//      font-size:48px;
//      font-family:'宋体';
//      color:#fff;
//      font-weight:normal;
//      z-index:20;
//      text-align: center;
//      line-height:60px;
//  }
//  .a-left{
//      left:10px;
//  }
//  .a-right{
//      right:10px;
//  }
  }
//.around .contain .ar-row .col-mid img{
//  width:100%;
//}
}
  .around .text{
    width:80%;
  } 
  .pro .container{
    width:100%;
    padding:0;
    .ar-row{
      width:100%;
      .col{
        width:28%;
        margin-top:5%;
        img{
          width:100%;
        }
        p{
          display: none;
        }
      }
      .col-mid{
        width:44%;
        img{
          width:100%;
        }
      }
    }
  }
  .news .context .n-list .content .left{
      float: none;
      width:100%;
      img{
          width:100%;
      }
  }
  .news .context .n-list .content .righ{
      float: none;
      width:100%;
      p{
        margin-top:10px;
        width:100%;
      }
      .mor{
        margin-top:10px;
      }
      span{
          line-height:40px;
      }
  }
  .tea{
      overflow: hidden;
  }
  .tea .tea-contain{
      height:236px;
  }
  .tea .tea-content{
      display: none;
  }
//.tea .tea-contain .t-row{
//    position: relative;
//}
  .tea .tea-contain .tea-col{
      float:none;
      margin:0 auto;
      margin-top:20px;
  }
  .tea .tea-contain .tea-col .con .title{
      padding-top:8px;
      box-sizing: border-box;
      width:100%;
  }
  .tea .tea-contain .tea-col .con .title img{
      text-align: center;
  }
  .tea .tea-contain .tea-col .con .title h6{
      margin-top:8px;
      margin-left:4px;
  }
  .tea .tea-contain .tea-col .con .title p{
      width:100%;
  }
  .tea .tea-contain .t-lef{
      left:-180px;
      display: none;
  }
  .tea .tea-contain .t-mid{
      width:100%;
      z-index:20;
  }
  .tea .tea-contain .t-righ{
      display:none;
      right:-180px;
  }
  .tea-contain{
      width:100%;
      margin:0 auto;
      margin-top:40px;
    .tea-col{
        width:100%;
        float:none;
      >.con{
          .tea-img{
              width:100%;
              img{
                width:100%;  
              }
          }   
      }
    }
  } 
  .tea .line{
      width:80%;
      margin-top:10px;
  }
  .tea .tea-contain .tea-col .con {
      width:90%;
      margin:0 auto;
      padding:0 16px;
      box-sizing: border-box;
  }
  .tea .tea-contain .tea-col .con .tea-img img{
      width:100%;
  }
  .tea .more > a > img{
      width:200px;         
  }
  .tea .tea-contain .t-row .t-act{
        background-image:url(../../image/Yy-image/bg.png);
        width:100%;
        height:260px;
        z-index:30;
        background-position:0 -12px;
        background-size:100%;
        background-repeat:no-repeat;
   }
  .news .more > a > img{
      width:200px;       
  }
  .pro .more > img{
      width:200px;       
  }
  .add{
      margin-top:20px;
  }
}


