@charset "UTF-8";
body {
  background-color: #f0f4f3;
  overflow: auto; }

a:hover {
  color: #333;
  text-decoration: none; }

.about {
  width: 100%; }
  .about .head {
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center; }
    .about .head img {
      width: 150px; }

.about .container .row .about-list {
  margin-top: 40px;
  text-align: center; }
  .about .container .row .about-list .about-bg {
    width: 480px;
    height: 340px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url("../../image/Yy-image/index_11.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    transition: transform 0.4s; }
    .about .container .row .about-list .about-bg img {
      width: 420px;
      margin-top: 30px; }
  .about .container .row .about-list .about-text {
    margin-top: 20px; }
    .about .container .row .about-list .about-text p {
      color: #444;
      letter-spacing: 2px;
      font-font-family: '宋体';
      font-size: 12px;
      margin: 0; }
    .about .container .row .about-list .about-text span {
      color: #444;
      letter-spacing: 2px;
      font-font-family: '宋体';
      font-size: 12px;
      line-height: 0;
      font-size: 20px; }

.about .container .row .about-list .about-bg:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04); }

.around {
  width: 100%; }
  .around .head {
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center; }
    .around .head img {
      width: 150px; }
  .around .contain {
    width: 1170px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative; }
    .around .contain .ar-row {
      width: 1170px;
      margin: 0 auto;
      position: relative; }

.around .text {
  width: 450px;
  margin: 0 auto;
  text-align: center; }
  .around .text p {
    color: #444;
    letter-spacing: 2px;
    font-font-family: '宋体';
    font-size: 12px; }
  .around .text ul {
    width: 36%;
    height: 4px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: space-between; }
    .around .text ul li {
      width: 25%;
      height: 2px;
      border-radius: 2px;
      background-color: #bfbfbf; }

.swiper-container {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  width: 40%;
  height: auto;
  overflow: hidden; }

.swiper-slide > img {
  width: 100%;
  /*height:100%;*/ }

.swiper-slide.swiper-slide-active {
  transform: scale(1.15) !important;
  z-index: 100 !important; }

.pro {
  width: 100%; }
  .pro .head {
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center; }
    .pro .head img {
      width: 150px; }
  .pro .container {
    margin-top: 40px; }
    .pro .container .ar-row {
      width: 100%; }
      .pro .container .ar-row .col {
        float: left;
        width: 27%;
        text-align: center;
        margin-top: 4%; }
        .pro .container .ar-row .col img {
          width: 100%; }
        .pro .container .ar-row .col p {
          color: #444;
          letter-spacing: 2px;
          font-font-family: '宋体';
          font-size: 12px;
          margin-top: 10px; }
      .pro .container .ar-row .col-mid {
        float: left;
        width: 46%;
        text-align: center; }
        .pro .container .ar-row .col-mid img {
          width: 80%; }
        .pro .container .ar-row .col-mid p {
          color: #444;
          letter-spacing: 2px;
          font-font-family: '宋体';
          font-size: 12px;
          margin-top: 10px; }

.pro .more {
  width: 100%;
  text-align: center; }
  .pro .more img {
    width: 300px;
    margin-top: 20px; }

.add {
  width: 100%; }
  .add img {
    width: 100%; }

.news {
  width: 100%; }
  .news .head {
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center; }
    .news .head img {
      width: 150px; }
  .news .context {
    margin-top: 20px; }
    .news .context .n-list {
      margin-top: 20px; }
      .news .context .n-list h6 img {
        width: 24px; }
      .news .context .n-list h6 p {
        display: inline-block;
        margin-left: 10px;
        font-size: 16px;
        color: #333; }
      .news .context .n-list .content {
        padding-left: 7%;
        box-sizing: border-box; }
        .news .context .n-list .content .left {
          float: left;
          width: 36%; }
          .news .context .n-list .content .left img {
            width: 180px; }
        .news .context .n-list .content .righ {
          float: left;
          width: 64%; }
          .news .context .n-list .content .righ p {
            font-size: 12px;
            color: #444; }
          .news .context .n-list .content .righ .mor {
            float: left;
            width: 18px;
            height: 18px;
            background-color: rgba(0, 0, 0, 0.3);
            text-align: center;
            line-height: 14px;
            font-size: 16px;
            color: #fff;
            border-radius: 50%;
            margin-top: 20px; }
          .news .context .n-list .content .righ span {
            line-height: 60px;
            margin-left: 10px; }

.news .more {
  width: 100%;
  text-align: center; }
  .news .more img {
    width: 300px;
    margin-top: 40px; }

.tea {
  width: 100%; }
  .tea .head {
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center; }
    .tea .head img {
      width: 150px; }
  .tea .line {
    width: 450px;
    margin: 0 auto; }
    .tea .line ul {
      width: 36%;
      height: 4px;
      margin: 0 auto;
      margin-top: 24px;
      display: flex;
      justify-content: space-between; }
      .tea .line ul li {
        width: 25%;
        height: 2px;
        border-radius: 2px;
        background-color: #bfbfbf; }
  .tea .tea-contain .t-row {
    width: 90%;
    margin: 0 auto; }
  .tea .tea-list {
    width: 420px;
    margin: 0 auto;
    margin-top: 28px;
    display: flex;
    justify-content: space-around; }
    .tea .tea-list li {
      font-size: 16px;
      color: #585757;
      font-weight: 500; }
    .tea .tea-list .active {
      text-decoration: underline; }
  .tea .tea-contain {
    margin-top: 20px;
    overflow: hidden; }
    .tea .tea-contain .tea-col {
      float: left;
      box-sizing: border-box;
      width: 33.33333%;
      height: 260px;
      margin: 0 auto;
      z-index: 10;
      transition: all 0.2s linear; }
      .tea .tea-contain .tea-col .con {
        width: 90%;
        margin-left: 15%; }
        .tea .tea-contain .tea-col .con .title {
          margin-top: 20px; }
          .tea .tea-contain .tea-col .con .title h6 {
            display: inline-block;
            font-size: 14px;
            margin-left: 8px;
            font-weight: normal; }
          .tea .tea-contain .tea-col .con .title p {
            margin-top: 8px;
            width: 80%;
            line-height: 20px;
            font-size: 12px;
            color: #2f2f2f; }

.tea .more {
  width: 100%;
  text-align: center; }
  .tea .more img {
    width: 300px;
    margin-top: 20px; }

.tea .tea-contain .t-row a {
  color: #333; }

.contact {
  width: 100%; }
  .contact .head {
    width: 100%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center; }
    .contact .head img {
      width: 150px; }
  .contact .text {
    margin-top: 20px;
    color: #818181;
    font-size: 12px;
    text-align: center;
    padding: 0 10px; }
  .contact .area {
    width: 90%;
    margin: 0 auto; }
    .contact .area .con-lef input {
      height: 48px;
      width: 100%;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      background-color: #f0f4f3;
      margin-top: 20px;
      text-indent: 10px;
      color: #c5c5c5;
      outline: none; }
    .contact .area .con-rig textarea {
      height: 184px;
      width: 100%;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      background-color: #f0f4f3;
      margin-top: 20px;
      outline: none;
      resize: none; }
  .contact div.bttn {
    width: 80%;
    height: 42px;
    margin: 0 auto;
    margin-top: 20px; }
    .contact div.bttn button {
      background-color: #F0F4F3;
      width: 100%;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      width: 80px;
      height: 42px;
      font-size: 14px;
      color: #333;
      float: right; }
    .contact div.bttn button.null {
      margin-right: 5%; }

footer {
  margin-top: 40px;
  width: 100%;
  height: auto;
  background-color: #222; }
  @media (min-width: 768px) {
    footer .sxy-footlist {
      padding-top: 70px; }
    footer .sxy-infor > .sxy-ma {
      width: 95px;
      height: 95px;
      padding-top: 75px; }
    footer .sxy-row2 {
      padding: 50px 0; } }
  @media (max-width: 768px) {
    footer .sxy-footlist > li {
      display: none; }
    footer .sxy-footlist > .sxy-line {
      display: none; }
    footer .sxy-row2 > div {
      font-size: 12px; }
    footer .sxy-footlist p > a {
      font-size: 20px; } }

.sxy-foot {
  background-color: #222; }
  .sxy-foot .sxy-infor {
    display: flex;
    justify-content: space-between; }
  .sxy-foot a {
    color: #fff; }

.sxy-footlist {
  padding-top: 30px;
  width: 20%;
  height: auto;
  display: flex;
  justify-content: space-between; }
  .sxy-footlist .sxy-line {
    width: 1px;
    height: 95px;
    background-color: #f2f2f2;
    display: inline-block;
    margin-top: 5px; }
  .sxy-footlist li > a {
    font-size: 18px;
    width: 18px;
    display: inline-block; }

.sxy-footlist p > a {
  font-size: 24px;
  width: 24px;
  margin-top: -3px;
  display: inline-block; }

.sxy-infor > .sxy-ma {
  width: 95px;
  height: 95px;
  padding-top: 36px; }

.sxy-infor > .sxy-ma > img {
  width: 95px; }

.sxy-row2 {
  padding: 30px 0;
  text-align: center; }
  .sxy-row2 div {
    color: #fff;
    font-size: 18px; }

@media screen and (min-width: 1200px) {
  .tea .tea-contain .t-row .t-active {
    background-image: url(../../image/Yy-image/bg.png);
    width: 33.33333%;
    height: 260px;
    z-index: 30;
    background-position: 0 -12px;
    background-size: 100%;
    background-repeat: no-repeat; }
  .swiper-container {
    width: 84%; }
  .swiper-container .swiper-slide {
    width: 30%; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .about .container .row .about-list .about-bg {
    width: 420px;
    height: 310px; }
    .about .container .row .about-list .about-bg img {
      margin-top: 36px;
      width: 360px; }
  .around .contain {
    width: 970px; }
    .around .contain .ar-row {
      width: 970px; }
  .news .context .n-list .content .left {
    width: 40%; }
    .news .context .n-list .content .left img {
      width: 160px; }
  .news .context .n-list .content .righ {
    width: 60%; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .about .container {
    width: 100%; }
  .pro .container {
    width: 100%; }
  .about .container .row .about-list .about-bg {
    width: 368px;
    height: 268px;
    transition: all 0.2s; }
    .about .container .row .about-list .about-bg img {
      width: 320px;
      margin-top: 28px; }
  .around .contain {
    width: 100%; }
    .around .contain .ar-row {
      width: 100%; } }

@media screen and (max-width: 768px) {
  .banner {
    height: 420px; }
  .about .container .row .about-list .about-bg {
    width: 320px;
    height: 230px;
    margin: 0 auto; }
    .about .container .row .about-list .about-bg img {
      width: 280px;
      margin-top: 20px; }
  .about .container .row .about-list {
    margin-top: 20px; }
  .around .contain {
    width: 100%; }
    .around .contain .ar-row {
      width: 100%; }
  .around .text {
    width: 80%; }
  .pro .container {
    width: 100%;
    padding: 0; }
    .pro .container .ar-row {
      width: 100%; }
      .pro .container .ar-row .col {
        width: 28%;
        margin-top: 5%; }
        .pro .container .ar-row .col img {
          width: 100%; }
        .pro .container .ar-row .col p {
          display: none; }
      .pro .container .ar-row .col-mid {
        width: 44%; }
        .pro .container .ar-row .col-mid img {
          width: 100%; }
  .news .context .n-list .content .left {
    float: none;
    width: 100%; }
    .news .context .n-list .content .left img {
      width: 100%; }
  .news .context .n-list .content .righ {
    float: none;
    width: 100%; }
    .news .context .n-list .content .righ p {
      margin-top: 10px;
      width: 100%; }
    .news .context .n-list .content .righ .mor {
      margin-top: 10px; }
    .news .context .n-list .content .righ span {
      line-height: 40px; }
  .tea {
    overflow: hidden; }
  .tea .tea-contain {
    height: 236px; }
  .tea .tea-content {
    display: none; }
  .tea .tea-contain .tea-col {
    float: none;
    margin: 0 auto;
    margin-top: 20px; }
  .tea .tea-contain .tea-col .con .title {
    padding-top: 8px;
    box-sizing: border-box;
    width: 100%; }
  .tea .tea-contain .tea-col .con .title img {
    text-align: center; }
  .tea .tea-contain .tea-col .con .title h6 {
    margin-top: 8px;
    margin-left: 4px; }
  .tea .tea-contain .tea-col .con .title p {
    width: 100%; }
  .tea .tea-contain .t-lef {
    left: -180px;
    display: none; }
  .tea .tea-contain .t-mid {
    width: 100%;
    z-index: 20; }
  .tea .tea-contain .t-righ {
    display: none;
    right: -180px; }
  .tea-contain {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px; }
    .tea-contain .tea-col {
      width: 100%;
      float: none; }
      .tea-contain .tea-col > .con .tea-img {
        width: 100%; }
        .tea-contain .tea-col > .con .tea-img img {
          width: 100%; }
  .tea .line {
    width: 80%;
    margin-top: 10px; }
  .tea .tea-contain .tea-col .con {
    width: 90%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box; }
  .tea .tea-contain .tea-col .con .tea-img img {
    width: 100%; }
  .tea .more > a > img {
    width: 200px; }
  .tea .tea-contain .t-row .t-act {
    background-image: url(../../image/Yy-image/bg.png);
    width: 100%;
    height: 260px;
    z-index: 30;
    background-position: 0 -12px;
    background-size: 100%;
    background-repeat: no-repeat; }
  .news .more > a > img {
    width: 200px; }
  .pro .more > img {
    width: 200px; }
  .add {
    margin-top: 20px; } }
